@(summary: Option[MetricsSummary], responseUri: Option[String] = None)

<html>
    <head>
        <title>dontref.me - remove ref data from your link</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href=@routes.Assets.at("css/index.css") media="screen,projection"/>
        <script src=@routes.Assets.at("javascripts/index.js")></script>
    </head>
    <body>

        <div class="container">
            <div class="row"><h1>Don't Ref me !!</h1></div>
            <div class="row">
                <div class="col-sm-4" >
                    <div class=".padding-x-xs form-group">
                        <p>Paste your link here: <br/></p>
                        <form method="post">
                            <input type="text" class="form-control" name="requestLink">
                            <input class="btn btn-info" type="submit" value="Hide My Reffff">
                        </form>
                    </div>
                    @if(responseUri.isDefined) {
                        <h5>Your link without Ref: </h5>
                        <div id="myDIV">
                            <a id="unref-link" href="@{responseUri.get}">
                                @{responseUri.get}
                            </a>
                        </div>
                    }
                    @if(summary.isDefined) {
                     <div class="row">
                        <h6>
                            <h5><u>So far..</u></h5>
                            <b>
                                @{summary.get.totalCalls}
                            </b> links converted <br/>
                            <b>
                                @{summary.get.totalParamsFilterd}
                            </b> references removed <br/>
                        </h6>
                    </div>
                    }
                </div>
                <div class="col-sm-7" >

                    <p>Ever wondered why the URLs are longer than required?
                        <br/>URLs can be confusing. Sometimes they are super short and other times they are three lines long. So, what exactly is all that stuff in between? Is it safe to forward that URL or it carries your information along with it?
                        Read Anatomy of URL to know more about URLs and why shortened URLs should be used when forwarding them.</p>
                    <h4>Anatomy of URL:	</h4>
                    <p>URL stands for Uniform Resource Locator, or in other words, the web address of an online resource, i.e. a web site or document.
                        The basic URL has four parts: the protocol, subdomain, domain, and top-level domain. In addition to these basic four parts, a URL can also have a path and parameters.
                        URLs can be confusing. Sometimes they are super short and other times they are three lines long. So, what exactly is all that stuff in between?
                        <br/><br/>
                        In order to better understand this, let's take an example of Amazon. When you go to <a href="https://www.amazon.com/">Amazon.com</a>
                        and type in a search term like “Shoes” and select a product, you’ll get the following resulting Amazon link: <br/>
                        <a href="https://www.amazon.com/NIKE-Revolution-Running-Black-Cool-Regular/dp/B06XKL3DBZ/ref=sr_1_4?keywords=shoes&qid=1560048374&s=gateway&sr=8-4">
                            https://www.amazon.com/NIKE-Revolution-Running-Black-Cool-Regular/dp/B06XKL3DBZ/ref=sr_1_4?keywords=shoes&qid=1560048374&s=gateway&sr=8-4</a><br/><br/>
                        Like our search query, this link shows the keywords we used to find the product.  It’s fun to look at what other people typed to find their product when they
                        send this long link. Notice the parameter "qid" - it changes when the same search is performed using different account or different IP address.
                        Therefore, as you can see, using a full-width URL on a search will leave a trail that goes back to you! And these full length URLs are used by many companies to add information
                        that leads to you.

                        This is the form of the link that you would want to send to your friends so as to ensure that there are no identifiable markings, tags, or whatever, that will connect you to it.
                        <a href="https://www.amazon.com/NIKE-Revolution-Running-Black-Cool-Regular/dp/B06XKL3DBZ/">https://www.amazon.com/NIKE-Revolution-Running-Black-Cool-Regular/dp/B06XKL3DBZ/</a>
                    </p>

                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <br><hr>
                <h7>Created by <a href="https://www.producthunt.com/@@rishijash" target="_blank">Rushi</a>, <a href="https://www.producthunt.com/@@shivani_23" target="_blank">Shivani</a> while trying to respect Privacy one step at a time. :)</h7>
            </div>
        </div>
    </body>
</html>